<h1>Listing Registration Transfers</h1>

<table>
  <tr>
    <th>Registration</th>
    <th>To user</th>
    <th>From user</th>
    <th>By user</th>
    <th>When</th>
  </tr>

<% @registration_gift_logs.each do |registration_gift_log| %>
  <tr>
    <td><%= registration_gift_log.registration.id %></td>
    <td><%= registration_gift_log.to_user.display_name %></td>
    <td><%= registration_gift_log.from_user.display_name %></td>
    <td><%= registration_gift_log.by_user.display_name %></td>
    <td><%= registration_gift_log.created_at %></td>
  </tr>
<% end %>
</table>

<br />

