<% title = _('Editing Registration Transfer') %>
<% content_for :title do %>
  <%=title %>
<% end %>

<h1><%=title %></h1>

<h1>Editing registration_transfer</h1>

<%= render 'form' %>

<%= link_to 'Show', @registration_transfer %> |
<%= link_to 'Back', registration_transfers_path %>
