<% title =  _("%s group") % @user_group.name %>
<% content_for :title do %>
  <%=title %>
<% end %>

<h1><%=title %></h1>
<p class="notice"><%= notice %></p>

<div id="user-group-users">
  <h2><%= _("Users for %s") % @user_group.name %></h2>
  <% if @user_group.users.count == 0 %>
    <span><%= _("There are no users in this group.") %></span>
  <% else %>
    <ul id="user-group-users-list">
      <% @user_group.users.sort{|a,b| a.display_name <=> b.display_name}.each do |user|%>
        <li class="user">
          <%= link_to user.display_name, user %>
          <% #TODO: this should be async! %>
          <%= link_to "X", user_group_remove_user_path(@user_group, :user_id => user)  %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <fieldset>
    <legend><%= _("Add users to %s") % @user_group.name %></legend>
    <% #TODO: autocomplete %>
    <!--<input type="text" value="Type to find"/>-->
    <%= render :partial => "user_groups/select_users", :locals => {:ul => User.all - @user_group.users, :ug => @user_group }  %>
  </fieldset>
</div>
<hr/>
<div id="user-group-permissions">
  <h2><%= _("Permissions for %s") % @user_group.name %></h2>
  <% if @user_group.permissions.count == 0 %>
    <span><%= _("There are no permissions for this group.") %></span>
  <% else %>
    <ul id="user-group-permissions-list">
      <% @user_group.permissions.each do |perm|%>
        <li class="permission">
          <%= perm.name %>
          <% #TODO: this should be async! %>
          <%= link_to "X", user_group_remove_permission_path(@user_group, :permission_id => perm)  %>
        </li>
      <% end %>
    </ul>
  <% end %>
  <fieldset>
    <legend><%= _("Add permissions to %s") % @user_group.name %></legend>
    <% #TODO: autocomplete %>
    <!--<input type="text" value="Type to find"/>-->
    <input type="text" value="Type to find"/>
    <%= render :partial => "user_groups/select_permissions", :locals => {:pl => Permission.all - @user_group.permissions, :ug => @user_group }  %>
  </fieldset>
</div>
<div id="admin-tools">
<%= link_to _("Edit %s") % @user_group.name, edit_user_group_path(@user_group) %> |
<%= link_to _("Destroy %s") % @user_group.name, @user_group, :confirm => _('Are you sure? This cannot be undone and you may regret it.'), :method => :delete %>
</div>
<%= link_to 'Back', user_groups_path %>
