<% title = _('New Waiver') %>
<% content_for :title do %>
  <%=title %>
<% end %>

<h1><%=title %></h1>


<%= form_for @waiver do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => { :f => f } %>
  <div class="submit-options">
    <%= f.submit %> or <%= link_to 'Back', waivers_path %>
  </div>
<% end %>

