  <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

<dl class="user-info form-list">
  <fieldset>
    <legend><%= _('Edit User Information') %></legend>

    <dt><%= f.label :name %></dt>
    <dd><%= f.text_field :name %></dd>

    <dt><%= f.label :full_name %></dt>
    <dd><%= f.text_field :full_name %></dd>

    <dt><%= f.label :pronunciation %></dt>
    <dd><%= f.text_field :pronunciation %></dd>

    <dt><%= f.label :handle %></dt>
    <dd><%= f.text_field :handle %></dd>

    <dt><%= f.label :email %></dt>
    <dd><%= f.email_field :email, {:required => true, :pattern => "[^ @]*@[^ @]*\.[^@]*", :placeholder => _("Your email address") }%></dd>
 

    <dt><%= f.label :password, f.object.new_record? ? nil : _("Change password") %></dt>
    <dd><%= f.password_field :password %></dd>

    <dt><%= f.label :gaming_group %></dt>
    <dd><%= f.text_field :gaming_group %></dd>

    <dt><%= f.label :date_arrival %></dt>
    <dd><%= f.datetime_select :date_arrival %></dd>

    <dt><%= f.label :date_departure %></dt>
    <dd><%= f.datetime_select :date_departure %></dd>

    <dt><%= f.label :gamer_type %></dt>
<% #TODO: i18n and put into User %>
    <dd><%= f.select :gamer_type, %w[computer console both] %></dd>

    <dt><%= f.label :birthdate %></dt>
    <dd><%= f.date_select :birthdate, :start_year => Time.now.year - 100, 
																	:end_year => Time.now.year - 13,
																	:default => Time.now - 18.years %></dd>

	<dt>&nbsp;</dt>
    <dd style="height: 4em;"><%= _('If you are younger than this date, you may need your parents\' signature on the waiver to enter the event. No exceptions are granted to this rule.') %></dd>

    <dt><%= f.label :gender %></dt>
    <dd><%= f.text_field :gender %></dd>

   <dt><%= f.label :disabled %></dt>
   <dd><%= f.check_box :disabled %> <%= _("Checking this will disable your account. You will be able to login, but others will not be able to see your profile and will not be able to otherwise interact with you other than remove you from tournaments and such.") %></dd>
  </fieldset>
</dl>

