  <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :given_name %>
    <%= f.text_field :given_name %>
		<br/>
    <%= f.label :family_name %>
    <%= f.text_field :family_name %>
  </div>
  <div class="field">
    <%= f.label :handle %><br />
    <%= f.text_field :handle %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :gaming_group %><br />
    <%= f.text_field :gaming_group %>
  </div>
  <div class="field">
    <%= f.label :date_arrival %><br />
    <%= f.datetime_select :date_arrival %>
  </div>
  <div class="field">
    <%= f.label :date_departure %><br />
    <%= f.datetime_select :date_departure %>
  </div>
  <div class="field">
    <%= f.label :gamer_type %><br />
<% #TODO: i18n and put into User %>
    <%= f.select :gamer_type, %w[computer console both] %>

  </div>
  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate, :start_year => Time.now.year - 100, 
																	:end_year => Time.now.year - 13,
																	:default => Time.now - 18.years %>
		<%= _('If you are younger than this date, you may need your parents\' signature on the waiver to enter the event. No exceptions are granted to this rule.') %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
<% #TODO: i18n and put into User %>
    <%= f.select :gender, %w[male female hermaphrodite transsexual pansexual adventurous], :include_blank => _('Prefer not to answer') %>
  </div>
