  <% if @user.errors.any? %>
  <div id="errorExplanation">
    <h2>
			<%= 
			_('%s prevented you from joining our ranks:') % pluralize(@user.errors.count, "error") 
			%>
		</h2>
    <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ol>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :given_name %>
    <%= f.text_field :given_name %>
		<br/>
    <%= f.label :family_name %>
    <%= f.text_field :family_name %>
  </div>
  <div class="field">
    <%= f.label :birthdate %><br />
    <%= f.date_select :birthdate,
                        {
                        :start_year => Time.now.year - 100, 
                        :end_year => Time.now.year - 13, 
                        :default => Time.now - 18.years,
                        } %>
		<%= _('If you are younger than this date, you may need your parents\' signature on the waiver to enter the event. No exceptions are granted to this rule.') %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, f.object.new_record? ? nil : "Change password" %><br />
    <%= f.password_field :password %>
  </div>
