<h1>Listing users</h1>

<% @users.each do |user| %>
<li><%= link_to user.handle, user %> - <%= user.given_name %> <%= user.family_name %> <%= _('of') %> <%= user.gaming_group %></li>
<% end %>
<br />

<%= link_to 'New User', new_user_path %>
