<p class="notice"><%= notice %></p>

<dl class="user-info info-list">
  <fieldset>
    <legend><%= _('User Information') %></legend>
    <%=render :partial => 'users/tools'%>

    <dt><%= _('Name') %></dt>
    <dd><%= @user.given_name %> <%= @user.family_name %></dd>
    
    <dt><%= _('Handle') %></dt>
    <dd><%= ( @user.handle and not @user.handle.empty? ) ? @user.handle : _('This user has not set a handle :(') %></dd>
    
    <dt><%= _('Email') %></dt>
    <dd><%= @user.email %></dd>
    
    <dt><%= _('Gaming group') %></dt>
    <dd><%= @user.gaming_group %></dd>
    
    <dt><%= _('Date arrival') %></dt>
    <dd><%= @user.date_arrival %></dd>
    
    <dt><%= _('Date departure') %></dt>
    <dd><%= @user.date_departure %></dd>
    
    <dt><%= _('Gamer type') %></dt>
    <dd><%= @user.gamer_type %></dd>
    
    <dt><%= _('Birthdate') %></dt>
    <dd><%= @user.birthdate %></dd>
    
    <dt><%= _('Gender') %></dt>
    <dd><%= @user.gender %></dd>
    
    <dt><%= _('Created') %></dt>
    <dd><%= @user.created_at %></dd>
  </fieldset>

  <% if current_user.can('users.administrate') %>
  <fieldset>
    <legend><%= _('Internals') %></legend>
    <dt><%= _('Last updated') %></dt>
    <dd><%= @user.updated_at %></dd>

    <dt><%= _('Disabled?') %></dt>
    <dd><%= @user.disabled %></dd>
    
    <dt><%= _('Login count') %></dt>
    <dd><%= @user.login_count %></dd>
    
    <dt><%= _('Last request at') %></dt>
    <dd><%= @user.last_request_at %></dd>
    
    <dt><%= _('Last login at') %></dt>
    <dd><%= @user.last_login_at %></dd>
    
    <dt><%= _('Current login at') %></dt>
    <dd><%= @user.current_login_at %></dd>
    
    <dt><%= _('Last login ip') %></dt>
    <dd><%= @user.last_login_ip %></dd>
    
    <dt><%= _('Current login ip') %></dt>
    <dd><%= @user.current_login_ip %></dd>
  </fieldset>
<% end %>
</dl>

