<% title =  _('Show User') %>
<% content_for :title do %>
  <%=title %>
<% end %>

<h1><%=title %></h1>

<dl class="user-info info-list">
  <fieldset>
    <legend><%= _('User Information') %></legend>
    <%=render :partial => 'users/tools'%>

    <dt><%= _('Name') %></dt>
    <dd><%= @user.name %></dd>

    <dt><%= _('Full Name') %></dt>
    <dd><%= @user.full_name %></dd>
    
    <dt><%= _('Handle') %></dt>
    <dd><%= ( @user.handle and not @user.handle.empty? ) ? @user.handle : _('%s has not set a handle.') % @user.display_name %></dd>

    <dt><%= _('Pronunciation') %></dt>
    <dd><%= ( @user.pronunciation and not @user.pronunciation.empty? ) ? @user.pronunciation : _('%s has not set a pronunciation.') % @user.display_name %></dd>
    
    <dt><%= _('Email') %></dt>
    <dd><%= @user.email %></dd>
    
    <dt><%= _('Gaming group') %></dt>
    <dd><%= ( @user.gaming_group and not @user.gaming_group.empty? ) ? @user.gaming_group : _('%s has not allied with a group.') % @user.display_name %></dd>
    
    <dt><%= _('Gamer type') %></dt>
    <dd><%= ( @user.gamer_type ) ? @user.gamer_type : _('%s has not set a gamer type.') % @user.display_name %></dd>
    
    <dt><%= _('Birthdate') %></dt>
    <dd><%= @user.birthdate %></dd>
    
    <dt><%= _('Gender') %></dt>
    <dd><%= @user.gender %></dd>
  
    <dt><%= _('Created') %></dt>
    <dd><%= @user.created_at %></dd>
  </fieldset>

  <% if current_user.can('payments.accept') %>
  <fieldset>
    <legend><%= _('Unpaid registrations') %></legend>
    <% if @unpaid_registrations.count > 0 %>
      <%= form_for Transaction.new, :url => new_transaction_url, :html => {:method => 'get'}  do |f| %>
          <%= select :registrations, :ids, @unpaid_registrations.collect{|reg| [("%s - %s - %s %s" % [
            reg.ticket.event.name,
            reg.ticket.name,
            reg.price_paid.currency.symbol,
            reg.price_paid]), reg.to_param]}, {}, {:multiple => true}
          %>
            <%= f.submit _("Record payments") %>
        <% end %>
    <% else %>
      <span><%= _("%s has no unpaid registrations.") % @user.display_name %></span>
    <% end %>
  </fieldset>
  <% end %>

  <% if @is_user_current_or_admin %>
    <fieldset>
      <legend><%= @user == current_user ? _("My Registrations") : _("%s's Registrations") % @user.display_name %></legend>
      <% if @my_registrations.count > 0 %>
        <ul>
          <% @my_registrations.each do |reg| %>
            <li>
              <%= ("%s - %s - %s %s" % [
              reg.ticket.event.name,
              reg.ticket.name,
              reg.price_paid.currency.symbol,
              reg.price_paid]) %>
              
              <% if reg.paid? %>
                <%= _("Paid") %> 
              <% else %>
                <%= _("Awaiting offline payment") %>
              <% end %>

              <% if reg.givable? and (reg.givable_by == current_user or current_user.can("registrations.transfer")) %>
                <%= link_to _("Transfer?"), new_registration_transfer_url(:registration => reg)   %>
              <% elsif reg.checked_in? %>
                <%= _("Checked in at %s") % reg.date_checked_in %>
              <% end %>

              <% if reg.given? %>
                <%= (_("Given to %s on %s") % [
                     link_to(reg.user.display_name, reg.user), 
                     reg.date_given]) %>
              <% end %>

              <%= link_to _("Print waiver"), waiver_url(reg.ticket.event.waiver) if reg.ticket.event.waiver %>


            </li>
          <% end %>
        </ul>
      <% else %>
        <p><%= @user == current_user ? _("You have no registrations.") : _("%s has no registrations.") % @user.display_name %></p>
      <% end %>
    </fieldset>
  <% end %>

  <% if current_user.can('users.administrate') %>
  <fieldset>
    <legend><%= _('Internals') %></legend>
    <dt><%= _('Last updated') %></dt>
    <dd><%= @user.updated_at %></dd>

    <dt><%= _('Disabled?') %></dt>
    <dd><%= @user.disabled %></dd>
    
    <dt><%= _('Login count') %></dt>
    <dd><%= @user.login_count %></dd>
    
    <dt><%= _('Last request at') %></dt>
    <dd><%= @user.last_request_at %></dd>
    
    <dt><%= _('Last login at') %></dt>
    <dd><%= @user.last_login_at %></dd>
    
    <dt><%= _('Current login at') %></dt>
    <dd><%= @user.current_login_at %></dd>
    
    <dt><%= _('Last login ip') %></dt>
    <dd><%= @user.last_login_ip %></dd>
    
    <dt><%= _('Current login ip') %></dt>
    <dd><%= @user.current_login_ip %></dd>
  </fieldset>
<% end %>
</dl>
