<p class="notice"><%= notice %></p>

<dl class="user-info">
	<dt><%= _('Name') %></dt>
	<dd><%= @user.given_name %> <%= @user.family_name %></dd>

	<dt><%= _('Handle') %></dt>
  <dd>
		<%= 
		if @user.handle and not @user.handle.empty?
 			@user.handle
		else 
			_('This user has not set a handle :(') 
		end 
		%>
	</dd>

  <dt><%= _('Email') %></dt>
  <dd><%= @user.email %></dd>

</dl>

<% #TODO: finishing moving these to the above format %>

<p>
  <b>Gaming group:</b>
  <%= @user.gaming_group %>
</p>

<p>
  <b>Date arrival:</b>
  <%= @user.date_arrival %>
</p>

<p>
  <b>Date departure:</b>
  <%= @user.date_departure %>
</p>

<p>
  <b>Gamer type:</b>
  <%= @user.gamer_type %>
</p>

<p>
  <b>Birthdate:</b>
  <%= @user.birthdate %>
</p>

<p>
  <b>Gender:</b>
  <%= @user.gender %>
</p>

<% if current_user.can('users.administrate') %>
<h2>Internals</h2>

<p>
	<b>Disabled?</b>
	<%=h @user.disabled %>
</p>


<p>
  <b>Login count:</b>
  <%=h @user.login_count %>
</p>

<p>
  <b>Last request at:</b>
  <%=h @user.last_request_at %>
</p>

<p>
  <b>Last login at:</b>
  <%=h @user.last_login_at %>
</p>

<p>
  <b>Current login at:</b>
  <%=h @user.current_login_at %>
</p>

<p>
  <b>Last login ip:</b>
  <%=h @user.last_login_ip %>
</p>

<p>
  <b>Current login ip:</b>
  <%=h @user.current_login_ip %>
</p>
<% end %>

<%=
render :partial => 'users/tools'
%>

