<h1><%= _('Registrations for %s') % @event.name %></h1>
<div id="registration-statistics">
  <dl>
    <dt><%= _("Registrations purchased") %></dt>
    <dd><%= @registrations.count %></dd>
    <dt><%= _("Registered users") %></dt>
    <dd><%= @user_registrations.count %></dd>
  </dl>
</div>
<ul>
<% @user_registrations.each do |reg| %>
  <li><%= link_to reg.user.display_name, user_url(reg.user) %></li>
<%end%>
</ul>
<br/><br/>
<%= link_to _("Back"), event_url(@event) %>
