<h1><%= _("Pay for your tickets for %s") % @event.name %></h1>
<p><%= _("Please review your order and choose a payment method.") %></p>
<table>
  <thead>
    <th><%= _("Number of Tickets") %></th>
    <th><%= _("Ticket name") %></th>
    <th><%= _("Ticket price") %></th>
    <th><%= _("Total") %></th>
  </thead>
  <tbody>
  <% @desired_tickets.each do |k,t| %>
    <tr>
      <td><%= t["number"] %></td>
      <td><%= t["name"] %></td>
      <td><%= t["price"] %></td>
      <td><%= t["total"] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<dl>
  <dt><%= _('Order total:') %></dt>
  <dd><%= @order_total %></dd>
</dl>

<ul>
  <li><%= link_to _('Pay using PayPal'), event_registerpaypal_path %></li>
  <li><%= link_to _('Pay using a mailed check'), event_registerreserve_path %></li>
</ul>
