<li class="tournament">
    <h2><%= link_to tournament.name, event_tournament_url(current_event,tournament) %></h2>
    <div class="type">
      <span><%= tournament.tournament_type %></span>
    </div>
    <div class="meter">
      <span title="<%= _('%d percent complete') % tournament.progress_meter %>" style="width: <%= tournament.progress_meter %>%"></span>
    </div>
    <h3><%= _("Participants") %></h3>
    <ul class="participants">
      <%= render :partial => "participants",
                 :collection => tournament.participants,
                 :as => :participant %>
    </ul>
</li>
