<li class="tournament">
    <h2><%= link_to tournament.name, event_tournament_url(current_event,tournament) %></h2>
    <div class="type">
      <span><%= tournament.tournament_type %></span>
    </div>
    <%= render :partial => 'meter', :locals => {:percentage => tournament.progress_meter} %>
    <h3><%= _("Participants") %></h3>
    <ul class="participants">
      <%= render :partial => "participants",
                 :collection => tournament.participants,
                 :as => :participant %>
    </ul>
</li>
