  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <dl class="event-info form-list">
    <fieldset>
      <legend><%= _('Event Information') %></legend>
      <dt><%= f.label :name %></dt>
      <dd><%= f.text_field :name %></dd>

      <dt><%= f.label :start %></dt>
      <dd><%= f.datetime_select :start %></dd>

      <dt><%= f.label :end %></dt>
      <dd><%= f.datetime_select :end %></dd>

      <dt><%= f.label :description %></dt>
      <dd style="height: auto;"><%= f.text_area :description %></dd>
    </fieldset>

    <fieldset>
      <legend><%= _('Address') %></legend>
    <%= f.fields_for :addresses do |af| %>
      <dt><%= af.label :line1 %></dt>
	  <dd><%= af.text_field :line1 %></dd>

	  <dt><%= af.label :line2 %></dt>
	  <dd><%= af.text_field :line2 %></dd>

	  <dt><%= af.label :line3 %></dt>
	  <dd><%= af.text_field :line3 %></dd>

	  <dt><%= af.label :neighborhood %></dt>
      <dd><%= af.text_field :neighborhood %></dd>

	  <dt><%= af.label :city %></dt>
      <dd><%= af.text_field :city %></dd>

	  <dt><%= af.label :region %></dt>
      <dd><%= af.text_field :region %></dd>

	  <dt><%= af.label :country %></dt>
      <dd><%= af.text_field :country %></dd>

	  <dt><%= af.label :postcode %></dt>
      <dd><%= af.text_field :postcode %></dd>

	  <dt><%= af.label :phone %></dt>
      <dd><%= af.telephone_field :phone %></dd>

      <dt><%= af.label :type %></dt>
      <dd><%= af.select :type, Address::TYPES, :default => "event" %></dd>

	  <%= af.hidden_field :primary, :value => true %>
    <% end %>
    </fieldset>

    <fieldset>
      <legend><%= _('Options') %></legend>
      <dt><%= f.label :registration_open %></dt>
      <dd><%= f.check_box :registration_open %></dd>

      <dt><%= f.label :visible %></dt>
      <dd><%= f.check_box :visible, :checked_value => 1, :unchecked_value => 0, :checked => true%></dd>
    </fieldset>
  </dl>
