<h1>Listing events</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Start</th>
    <th>End</th>
    <th>Address</th>
    <th>Registration open?</th>
    <% if current_user and current_user.can 'events.administrate' then %>
    <th></th>
    <th></th>
    <% end %>
  </tr>

<% @events.each do |event| %>
  <% if event.visible or (current_user and current_user.can 'events.administrate') %>
  <tr>
    <td><%= link_to event.name, event %><br/><small><%= event.description %></small></td>
    <td><%= event.start.to_date %></td>
    <td><%= event.end.to_date %></td>
    <td><%= event.addresses[0].pretty %></td>
    <td><%= event.registration_open %></td>
    <% if current_user and current_user.can 'events.administrate' %>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
