<% title = _('Listing Events') %>
<% content_for :title do %>
  <%=title %>
<% end %>

<h1><%=title %></h1>

<% if @events.count == 0 %>
  <p class="message">
    <%= _("There are no events scheduled.") %>
  </p>
<% end %>

<% @events.each do |event| %>
  <% if event.visible or (current_user and current_user.can 'events.administrate') %>
  <article class="event">
    <h1><%= link_to event.name, event %></h1>
    <h2><%= event.description %></h2>
    <p><%= event.start.to_date %> - <%= event.end.to_date %></p>
    <p><%= event.addresses[0].pretty if event.addresses.count > 0 %></p>
    <p><%=
      if event.registration_open
        _("Registration is open")
      else
        _("Registration is closed")
      end%></p>
    <% if current_user and current_user.can 'events.administrate' %>
      <div class="available-tickets">
        <% if event.tickets.count > 0 %>
          <h3>Available tickets</h3>
        <ul>
          <% event.tickets.each do |ticket| %>
            <li><%= ticket.name %> - 
               $<%= ticket.price %> - 
               <%= _('%d tickets available') % ticket.available %>, 
               <%= _('%d tickets remaining') % ticket.remaining %>
            </li>
          <% end %>
        </ul>
        <% end %>
      </div>
      <div class="admin-actions">
        <%= link_to 'Edit', edit_event_path(event) %> 
        <%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %>
        <%= (current_event == event) ? _("Current event") : link_to(_("Set current"), event_setcurrent_path(event)) %>
      </div>
    <% end %>
  </article>
  <% end %>

<% end %>

<br />

<%= link_to 'New Event', new_event_path if current_user and current_user.can 'events.create' %>
