<p id="notice"><%= notice %></p>

<dl class="event-info info-list">
  <fieldset>   
    <legend>Event Information</legend>
    <%=render :partial => 'events/tools'%>

    <dt><%= _('Name') %></dt>
    <dd><%= @event.name %></dd>

    <dt>Start</dt>
    <dd><%= @event.start %></dd>

    <dt>End</dt>
    <dd><%= @event.end %></dd>

    <dt>Description</dt>
    <dd><%= @event.description %></dd>
  </fieldset>

  <fieldset>
    <legend><%= _('Address') %></legend>

  <% @event.addresses.each do |address| %>
    <dt>Address</dt>
    <dd><%= address.pretty %></dd>
  <% end %>
  </fieldset>
  <% if current_user and current_user.can 'events.administrate' %>
  <fieldset>
    <legend><%= _('Options') %></legend>

    <dt>Registration Open</dt>
    <dd><%= @event.registration_open %></dd>

    <dt>Visible</dt>
    <dd><%= @event.visible %></dd>
  </fieldset>
  <%end%>
</dl>

<% if @event.tickets.count == 0 %>
<i><%= _('No tickets have been created for this event.') %></i>
<% else %>
<dl class="event-tickets info-list">
  <fieldset>
    <legend><%= _('Tickets') %></legend>    
    <%=render :partial => 'events/ticket_tools'%>

    <% @event.tickets.each do |t| %>
      <dt><%= link_to t.name, event_ticket_path(@event, t) %></dt>
      <dd><%= "%s %s" % [t.prix.currency.symbol, t.prix] %></dd>
    <% end %>
    <div class="ticket-actions">
      <%= link_to _("Purchase tickets for this event"), event_register_path(@event) if @event.registration_open %><br/>
      <%= link_to _("Who is registered?"), event_registrations_url(@event) %>
    </div>
  </fieldset>
</dl>
<% end %>

<%= link_to 'Back', events_path %>
