<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Start:</b>
  <%= @event.start %>
</p>

<p>
  <b>End:</b>
  <%= @event.end %>
</p>

<% @event.addresses.each do |address| %>
<p>
  <b>Address:</b>
  <%= address.pretty %>
</p>
<% end %>

<p>
  <b>Registration open:</b>
  <%= @event.registration_open %>
</p>

<p>
  <b>Visible:</b>
  <%= @event.visible %>
</p>

<p>
  <b>Description:</b>
  <%= @event.description %>
</p>

<p>
  <b>Tickets:</b>
  <% if @event.tickets.count == 0 %>
    <i>No tickets have been created for this event.</i>
  <% else %>
    <ul>
      <% @event.tickets.each do |t| %>
        <li><%= link_to t.name, event_ticket_path(@event, t) %> - $<%= "%.2f" % t.price %></li>
      <% end %>
    </ul>
  <% end %>
    <% if current_user and current_user.can 'events.administrate' %>
      (<%= link_to _('Create a ticket'), new_event_ticket_path(@event) %>)
    <% end %>
  
  </p>
<% if current_user and current_user.can 'events.administrate' %>
  <%= link_to 'Edit', edit_event_path(@event) %> 
<% end %>
<%= link_to 'Back', events_path %>
