<%= form_for(@permission) do |f| %>
  <% if @permission.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h2>
    <ul>
    <% @permission.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :parent %><br />
    <%= f.select :parent, @all_permissions,{:include_blank => true} %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
