<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <span>Warning: nothing here is validated. Please ensure that it's correct, as there's no easy way to make edits here!</span>
<fieldset>
      <legend><%= _('Address') %></legend>
    <%= f.fields_for :address do |af| %>
      <dt><%= af.label :line1 %></dt>
	  <dd><%= af.text_field :line1 %></dd>

	  <dt><%= af.label :line2 %></dt>
	  <dd><%= af.text_field :line2 %></dd>

	  <dt><%= af.label :line3 %></dt>
	  <dd><%= af.text_field :line3 %></dd>

	  <dt><%= af.label :neighborhood %></dt>
      <dd><%= af.text_field :neighborhood %></dd>

	  <dt><%= af.label :city %></dt>
      <dd><%= af.text_field :city %></dd>

	  <dt><%= af.label :region %></dt>
      <dd><%= af.text_field :region %></dd>

	  <dt><%= af.label :country %></dt>
      <dd><%= af.text_field :country %></dd>

	  <dt><%= af.label :postcode %></dt>
      <dd><%= af.text_field :postcode %></dd>

	  <dt><%= af.label :phone %></dt>
    <dd><%= af.telephone_field :phone, { :pattern => '^\(?\d{3}\)?[-\s]?\d{3}[-\s]?\d{4}.*?$' } %></dd>

      <dt><%= af.label :address_type %></dt>
      <dd><%= af.select :address_type, Address::TYPES, :default => "billing" %></dd>

	  <%= af.hidden_field :primary, :value => true %>
    <% end %>
    </fieldset>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :payer_name %><br />
    <%= f.text_field :payer_name %>
  </div>
  <div class="field">
    <%= f.label :payer_country %><br />
    <%= f.text_field :payer_country %>
  </div>
  <div class="field">
    <%= f.label :payment_id %><%= _(" or Check Number") %><br />
    <%= f.text_field :payment_id %>
  </div>
 
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="field">
    <ul>
      <% @transaction.registrations.each do |r| %>
        <li>
          <%= r.ticket.name %> bought by <%= r.purchaser.display_name %> 
          <%= "(%s)" % r.user.display_name if r.user %>
          <% #f.hidden_field :registration_ids, :value => r.to_param %>
          <input name="transaction[registration_ids][]" value="<%= r.to_param %>"
            type="hidden"/>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
