<%= form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :payer_name %><br />
    <%= f.text_field :payer_name %>
  </div>
  <div class="field">
    <%= f.label :payer_country %><br />
    <%= f.text_field :payer_country %>
  </div>
  <div class="field">
    <%= f.label :processor_userid %><br />
    <%= f.text_field :processor_userid %>
  </div>
  <div class="field">
    <%= f.label :payment_id %><br />
    <%= f.text_field :payment_id %>
  </div>
  <div class="field">
    <%= f.label :type %><br />
    <%= f.text_field :type %>
  </div>
  <div class="field">
    <%= f.label :recorded_by %><br />
    <%= f.text_field :recorded_by %>
  </div>
  <div class="field">
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :comments %><br />
    <%= f.text_area :comments %>
  </div>
  <div class="field">
    <%= f.label :registration %><br />
    <%= f.text_field :registration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
