<% title = "Editing transaction" %>
<% content_for :title do %>
  <%=title %>
<% end %>

<h1><%=title %></h1>
<%= render 'form' %>

<%= link_to 'Show', @transaction %> |
<%= link_to 'Back', transactions_path %>
