<h1>Listing transactions</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Type</th>
    <th>Payer name</th>
    <th>Recorded by</th>
    <th>Comments</th>
    <th>Registration</th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= link_to transaction.created_at, transaction %></td>
    <td><%= transaction.amount %></td>
    <td><%= transaction.type %></td>
    <td><%= mail_to transaction.email, transaction.payer_name %></td>
    <td><%= transaction.payment_id %></td>
    <td><%= transaction.recorded_by %></td>
    <td><%= transaction.comments %></td>
    <td><%= link_to transaction.registration %></td>
  </tr>
<% end %>
</table>
