<% title = "Listing transactions" %>
<% content_for :title do %>
  <%=title %>
<% end %>

<h1><%=title %></h1>
<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Payment Media</th>
    <th>Payer name</th>
    <th>Recorded by</th>
    <th>Comments</th>
    <th>Registration</th>
  </tr>

<% @transactions.each do |transaction| %>
  <tr>
    <td><%= link_to transaction.created_at, transaction %></td>
    <td><%= "%s %s" % [transaction.price.currency.symbol, transaction.price] %></td>
    <td><%= transaction.payment_media %></td>
    <td><%= mail_to transaction.email, transaction.payer_name %></td>
    <td><% if transaction.recorded_by %>
        <%= transaction.recorded_by.display_name %>
      <% else %>
        <%= _("(automated)") %>
      <% end %>
    </td>
    <td><% if transaction.comments %>
        <%= transaction.comments %>
      <% else %>
        <%= _("(no comments)") %>
      <% end %>
    </td>
    <td>
      <ol>
        <% transaction.registrations.each do |r| %>
          <li><%= _("%s bought by %s") % [r.ticket.name, r.purchaser.display_name] %>
              <%= _("(for %s)") % r.user.display_name if r.user %>
          </li>
        <% end %>
      </ol>
    </td>
  </tr>
<% end %>
</table>
