<h1><%= _('Login') %></h1>
<div id="form-login">
<%= form_for @user_session, :url => user_sessions_path do |f| %>
  <%= f.error_messages %>
  <dl class="form-list">
    <fieldset>
      <legend>
        <%= _('Login or') %> 
        <%= link_to _("create an account"), new_user_url %>
      </legend>
      <dt><%= f.label :email %></dt>
      <dd><%= f.email_field :email, {:required => true, :autofocus => true, :pattern => "[^ @]*@[^ @]*\.[^@]*", :placeholder => _("Your email address") }%></dd>
      <dt><%= f.label :password %></dt>
      <dd><%= f.password_field :password, {:required => true, :placeholder => _("Your password") }%></dd>
      <dd><%= f.submit _("Login") %>
        <span class="remember-me"><%= f.check_box :remember_me %><%= f.label :remember_me %></span>
      </dd>
    </fieldset>
  </dl>
  <p id="password-note">
  <%= _("There is currently no way of recovering a forgotten password. If this happens, contact a staff member to have it reset.") %>
  </p>
<% end %>
</div>
