<section id="footer">
<div id="clear-footer">
<br class="clear-footer"/>
</div>
<footer>
<% if current_user and current_user.can('app.administrate') %>
<nav id="admin-links" class="inline">
<ul>
<li><%= link_to _("Transactions"), transactions_path %></li>
<li><%= link_to _("Pcfgs"), pcfgs_path %></li>
<li><%= link_to _("Permissions"), permissions_path %></li>
<li><%= link_to _("User Groups"), user_groups_path %></li>
</ul>
</nav>
<% end %>
<div id="copyright-notice"><p>PLAS v<%= Plas::VERSION %> | &copy; Pittsburgh LAN Coalition, Inc.</p>
</footer>
</section>
