<section id="footer">
<div id="clear-footer">
<br class="clear-footer"/>
</div>
<footer>
<% if current_user and current_user.can('app.administrate') %>
<nav id="admin-links" class="inline">
<ul>
<li><%= link_to _("Transactions"), transactions_path %></li>
<li><%= link_to _("Pcfgs"), pcfgs_path %></li>
<li><%= link_to _("Permissions"), permissions_path %></li>
<li><%= link_to _("User Groups"), user_groups_path %></li>
<li><%= link_to _("Registration Transfers"), registration_transfers_path %></li>
<li><%= link_to _("Waivers"), waivers_path %></li>
</ul>
</nav>
<% end %>
<% if current_user and Permission.find_by_code('app.administrate').users.count == 0 
#TODO: find a better place for this 
%>
<div id="become-god">
  <%= _('There is currently no administrator.') %>
  <%= link_to _("Become administrator?"), godmode_path %>
</div>
<% end %>
<div id="copyright-notice">
  <p>
    <span class="project">
      <a href="<%= Plas::PROJECT_URL %>"><acronym title="<%= _('Pittco LAN Administration System') %>">PLAS</acronym></a>
    </span>
    <span class="version">
      v<%= Plas::VERSION %>
    </span>
    &copy; 
    <span class="company">
      <a href="http://www.pittco.org">Pittsburgh LAN Coalition, Inc.</a>
    </span>
  </p>
</div>
</footer>
</section>
