<section id="header">
<nav id="global" class="inline">
<%=
if current_user
	render :partial => "layouts/registered_user"
else
	render :partial => "layouts/guest_user"
end
%>
</nav>
<header>
<h1><%= Pcfg.get('organization.name') || _("Pittco") %></h1>
<h2 title="v<%= Plas::VERSION %>">
  <%= Pcfg.get('organization.app_name') || _("Pittco LAN Administration System") %>
</h2>
</header>
<nav id="event-modules" class="inline">
<%=
if current_event
  render :partial => "layouts/nav_current_event"
else
  render :partial => "layouts/nav_no_event"
end
%>
</nav>
</section>
