<!DOCTYPE html>
<html>
<head>
  <title><%= Pcfg.get('organization.name') || _("Pittco") %></title>
  <%= stylesheet_link_tag "reset","structure","color" %>
  <%= javascript_include_tag ['jquery.min', 'jquery-ui.min','rails','date'] %>
  <%= javascript_include_tag ['application'] %>
  <%= csrf_meta_tag %>
  <link rel="icon" type="image/vnd.microsoft.icon" href="/images/logos/plas/plas_logo.ico"/>
  <link rel="apple-touch-icon" href="/images/logos/plas/plas_logo.ico">
</head>
<body>
<%= render :partial => "layouts/header" %>
<section id="content">
<%= yield %>
</section>
<%= render :partial => "layouts/footer" %>
</body>
</html>
