<!DOCTYPE html>
<html>
<%= render :partial => "layouts/header" %>
<body>
<%= render :partial => "layouts/masthead" %>
<section id="content">
<%= render :partial => "layouts/notices" %>
<%= yield %>
</section>
<%= render :partial => "layouts/footer" %>
</body>
</html>
