<!DOCTYPE html>
<html>
<head>
  <title>Plas</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<%= render :partial => "layouts/header" %>
<section id="content">
<%= yield %>
</section>
<%= render :partial => "layouts/footer" %>
</body>
</html>
