<!DOCTYPE html>
<html>
<head>
  <title>Plas</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <link rel="icon" type="image/vnd.microsoft.icon" href="../images/logos/plas/plas_logo.ico"/>
  <link rel="apple-touch-icon" href="../images/logos/plas/plas_logo.ico">
</head>
<body>
<%= render :partial => "layouts/header" %>
<section id="content">
<%= yield %>
</section>
<%= render :partial => "layouts/footer" %>
</body>
</html>
